.c-title01 {
  font-size: var(--fz-lg);
  font-weight: bold;
}

.c-title02 {
  font-size: var(--fz-lg);
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.c-title03 {
  font-size: var(--fz-lg);
  font-weight: bold;
}

.c-title04 {
  font-size: var(--fz-md);
  font-weight: bold;
  border-block-end: 1px solid var(--c-grey);
}

.c-title05 {
  font-weight: bold;
}

.c-title06 {
  font-weight: bold;
  font-size: var(--fz-lg);
}

.c-title-404 {
  text-align: center;
  text-transform: capitalize;
  font-size: var(--fz-xl);
  font-weight: bold;
  &::before {
    content: '404';
    letter-spacing: 0.2em;
    text-indent: 0.2em;
    display: block;
    color: var(--c-grey);
    font-size: 128px;
  }
}
