.p-column {
  width: min(45rem, 90%);
  margin-inline: auto;
}

.p-column__header {
  & + * {
    margin-block-start: var(--s-md);
  }
}

.p-column-content {
  h2 {
    border-block-end: 2px solid var(--c-grey);
    font-size: var(--fz-md);
    font-weight: bold;
    margin-block-start: var(--s-md);
  }

  h3 {
    font-weight: bold;
    border-inline-start: 5px solid var(--c-grey);
    padding-inline-start: var(--s-xs);
  }

  p {
    line-height: 1.8;
    margin-block: 1.2em;
  }

  figure {
    margin-block: var(--s-sm);
  }

  figcaption {
    font-size: var(--fz-sm);
    text-align: center;
    margin-block-start: var(--s-xs);
  }

  ol,
  ul {
    padding-inline-start: 1.2em;
    margin-block: 1.2em;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: square;
  }

  a {
    text-decoration: underline;
    color: var(--c-link);
  }
}

.p-column-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--s-md);
  margin-block-start: var(--s-lg);
  // @media screen and (width > 834px) {
  //   grid-template-columns: repeat(2, 1fr);
  // }
  max-width: 780px;
  margin-inline: auto;
}

.p-column-list__item {
  a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    gap: var(--s-sm);
  }
}

.p-column-list__text {
  flex-basis: 65%;
  display: flex;
  flex-direction: column-reverse;
}

.p-column-list__eyecatch {
  aspect-ratio: 1/1;
  flex-basis: 30%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
