.p-form {
  width: min(90%, 45em);
  a {
    text-decoration: underline;
    color: var(--c-link);
  }

  p {
    margin-block: var(--s-lg);
    text-align: center;
  }
  form {
    margin-inline: auto;
  }

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  textarea {
    border: 1px solid var(--c-text);
    border-radius: 8px;
    padding: 0.5em;
  }

  textarea {
    resize: none;
    height: 150px;
  }

  .p-form-label {
    text-align: left;
    margin: 0;
    font-size: 1.1em;
    & + * {
      margin-block-start: var(--s-xs);
    }
  }

  input[type='radio'],
  input[type='checkbox'] {
    & + label {
      margin-inline-start: 0.2em;
      margin-inline-end: 1em;
    }
  }
}

.p-form-group {
  display: flex;
  flex-direction: column;
  & + & {
    margin-block-start: var(--s-md);
  }
  & + .c-button-wrapper {
    margin-block-start: var(--s-md);
  }
  &:has([required]) label::after {
    content: '[必須]';
    color: #8b0000;
    font-size: 0.8em;
    margin-inline-start: var(--s-xs);
    vertical-align: middle;
  }
}

.p-form-group-inner {
  display: flex;
}
